<p>past-projects works!</p>
<div class="flex-center-wrap">
    <div *ngFor="let project of jsonData"  class="past-container">

        <div class="image">
          <img [src]="project.img"/>
        </div>
        <div class="past-column">
          <div class="past-title">
            {{project.title}}
          </div>
          <div class="past-text">
            Lorem ipsum dolor sit amet consectetur.
          </div>
          <div class="past-text">
            {{project.detail.length}}
          </div>
        </div>
      </div>

</div>
