.flex-center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  // border: 1px solid blue;
}


.past-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  max-width: 20%;
  height: fit-content;
  margin: 0rem 1.5rem 1rem 0rem;
  padding: 2rem;
  background-color: var(--accent);
}

.image {
  height: 5rem;
  width: 10rem;
  border: 1px solid rgb(143, 143, 143);
  margin-right: 2rem;
  // padding: 4rem;
  color:var(--accent);
  background-color: var(--main-font-color);
  overflow: hidden;
}

.image img {
  width: 105%;
  height: 105%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.tech-container {
  border:1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tech-image {
  height: 5rem;
  width: 10rem;
  border: 1px solid rgb(1, 0, 78);
  margin-right: 0rem;
  // padding: 4rem;
  color:var(--accent);
  background-color: var(--main-font-color);
  overflow: hidden;
}

.tech-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.past-text {
  width:100%;
  margin: 0.5rem 0;
}
