<div class="full-view-container">


  <div class="flex-center-wrap">
    <div   class="past-container" *ngFor="let project of jsonData">

        <div class="image">
          <img [src]="project.img"/>
        </div>
        <div class="past-column">
          <div class="past-title">
            {{project.title}}
          </div>
          <div class="past-text">
            Lorem ipsum dolor sit amet consectetur.
          </div>
          <div class="past-text">
            {{project.detail.length}}
          </div>
          <!-- <div class="tech-container" *ngFor="let tech of project">
            <div class="tech-image">
              <img [src]="tech.tech"/>
              {{tech.tech}}
            </div>
          </div> -->
        </div>
      </div>
  </div>

</div>

